.products-page {
  width: 100%;
  height: 100%;
  background-color: rgb(22, 18, 49);
  padding-bottom: 100px;
}

.products-page .product .product-top {
  width: 100%;
  height: 100px;
  background-color: rgb(119, 112, 165);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.products-page .product .product-top .product-txt {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.products-page .product .product-frame {
  width: auto;
  height: 800px;
  margin-top: 30px;
  justify-content: space-evenly;
  flex-direction: row;
}

/* product left */
.products-page .product .product-frame .product-left {
  width: 200px;
  height: 500px;
  margin-top: 50px;
  gap: 20px;
}

/* product right */
.products-page .product .product-frame .product-right {
  width: 900px;
  height: auto;
  margin-top: 50px;
}

.products-page .product .product-frame .product-right .menu {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.products-page .product .product-frame .product-right .card-box {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.products-page .product .product-frame .product-right .card-box .card {
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
}

.products-page .product .product-frame .product-right .card-box .card p {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
}

.products-page .product .product-frame .product-right .card-box .card .box {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}

.products-page .product .product-frame .product-right .card-box .card .box img {
  width: 250px;
  height: 250px;
  object-fit: cover; /* Rasm nisbatini saqlab, joyga mos kelishi uchun */
  border-radius: 5px;
  transition: filter 0.3s ease; /* Hover effekti uchun animatsiya */
}

.products-page
  .product
  .product-frame
  .product-right
  .card-box
  .card
  .box
  img:hover {
  filter: brightness(50%); /* Rasmni qoraytirish */
}

.products-page
  .product
  .product-frame
  .product-right
  .card-box
  .card
  .box
  .box-txt {
  width: auto;
  display: flex;
  margin-top: 5px;
  justify-content: center;
  flex-direction: row;
  border-radius: 5px;
  background: rgb(82, 82, 82);
}
/* ------------------------------------ */
/** ChosenProduct **/

.products-page .chosen-product {
  position: relative;
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-page .chosen-product .product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 150px;
}

.products-page .chosen-product .chosen-product-slider {
  width: 48%;
  height: 480px;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  overflow: hidden;
}

.products-page .chosen-product .chosen-product-slider .swiper-area {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  width: 100%;
  height: 1020px;
}

.products-page
  .chosen-product
  .chosen-product-slider
  .swiper-area
  .slider-image {
  width: 100%;
  height: 100%;
}

.products-page .chosen-product .chosen-product-info {
  padding: 30px 40px;
  width: 49%;
  height: 480px;
  display: flex;
  background: #ffffff;
  box-shadow: 9px 13px 14px 5px rgba(0, 0, 0, 0.25),
    inset -1px 2px 10px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.products-page .chosen-product .chosen-product-info .info-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.products-page .chosen-product .info-box .product-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.products-page .chosen-product .info-box .resto-name {
  margin-top: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #979797;
}

.products-page .chosen-product .info-box .rating-box {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .rating-box .star-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.products-page .chosen-product .rating-box .evaluation-box .product-view {
  display: flex;
  align-items: center;
}

.products-page .chosen-product .info-box .product-desc {
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .info-box .product-price {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-page .chosen-product .product-price span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 22px;
  color: #000000;
}

.products-page .chosen-product .button-box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-page .chosen-product .button-box button {
  width: 230px;
  height: 44px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #f8f8ff;
}

.products-page .chosen-product .title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 40px;
}

/* ------------------------------------ */
@media (max-width: 390px) {
  .products-page {
    width: 100%;
    height: 100%;
    background-color: rgb(22, 18, 49);
  }
  .products-page .product .product-top {
    height: 50px;
  }
  .products-page .product .product-top .product-txt {
    font-size: 18px;
  }

  .products-page .product .product-frame {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
  .products-page .product .product-frame .product-left {
    width: 200px;
    height: 250px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 90px;
  }

  .products-page .product .product-frame .product-left button {
    width: 40px;
    height: 35px;
    font-size: 12px;
    color: white;
  }
  /* product right */
  .products-page .product .product-frame .product-right {
    width: 900px;
    height: auto;
  }

  .products-page .product .product-frame .product-right .menu button {
    width: 90px;
    height: 35px;
    font-size: 12px;
    color: white;
  }

  .products-page .product .product-frame .product-right .card-box {
    margin-top: 20px;
    gap: 0px;
  }

  .products-page .product .product-frame .product-right .card-box .card {
    width: 150px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
  }

  .products-page .product .product-frame .product-right .card-box .box-txt {
    max-width: 150px;
    height: 50px;
  }

  .products-page .product .product-frame .product-right .card-box .card p {
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
  }

  .products-page
    .product
    .product-frame
    .product-right
    .card-box
    .card
    .box
    img {
    width: 150px;
    height: 150px;
    object-fit: cover; /* Rasm nisbatini saqlab, joyga mos kelishi uchun */
    border-radius: 5px;
    transition: filter 0.3s ease; /* Hover effekti uchun animatsiya */
  }
}
@media screen and (max-width: 665px) and (min-width: 391px) {
  .products-page .product .product-frame .product-left {
    width: 200px;
    height: 250px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 90px;
  }
  .products-page .product .product-frame .product-left button {
    width: 40px;
    height: 35px;
    font-size: 12px;
    color: white;
    margin-top: 20px;
  }
  .products-page .product .product-frame .product-right .menu button {
    width: 90px;
    height: 35px;
    font-size: 12px;
    color: white;
  }
  .products-page .product .product-frame .product-right .card-box {
    margin-top: 20px;
    gap: 20px;
  }
}

@media screen and (max-width: 865px) and (min-width: 391px) {
  .products-page {
    width: 100%;
    height: 100%;
    background-color: rgb(22, 18, 49);
  }
  .products-page .product .product-top {
    height: 70px;
  }
  .products-page .product .product-top .product-txt {
    font-size: 22px;
  }
  .products-page .product .product-frame {
    width: 100%;
    height: 100%;
    margin-top: 0px;
  }
  .products-page .product .product-frame .product-left {
    width: 150px;
    height: 250px;
  }
  .products-page .product .product-frame .product-left button {
    width: 100px;
    height: 35px;
    font-size: 12px;
    color: white;
  }
  .products-page .product .product-frame .product-right {
    width: 900px;
    height: auto;
  }
  .products-page .product .product-frame .product-right .menu button {
    width: 90px;
    height: 35px;
    font-size: 12px;
    color: white;
  }

  .products-page .product .product-frame .product-right .card-box {
    margin-top: 20px;
    row-gap: 80px;
  }
  .products-page .product .product-frame .product-right .card-box .card {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  .products-page .product .product-frame .product-right .card-box .box-txt {
    max-width: 230px;
    height: 50px;
  }

  .products-page .product .product-frame .product-right .card-box .card p {
    width: 150px;
    height: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
  }
  .products-page
    .product
    .product-frame
    .product-right
    .card-box
    .card
    .box
    img {
    width: 230px;
    height: 230px;
    object-fit: cover; /* Rasm nisbatini saqlab, joyga mos kelishi uchun */
    border-radius: 5px;
    transition: filter 0.3s ease; /* Hover effekti uchun animatsiya */
  }
}

@media screen and (max-width: 1020px) and (min-width: 865px) {
  .products-page {
    width: 100%;
    height: 1300px;
    background-color: rgb(22, 18, 49);
    padding-bottom: 100px;
  }
}
